<footer>
    <div class="footer__logo--wrapper">
        <img class="footer__logo" src="/img/logo_small.png">
        <h3 class="footer__title">BulTravel</h3>
    </div>
    <div class="footer__nav">
        <ul class = "footer__nav--list">
            <li class = "footer__nav--item">
                <a>About Us</a>
            </li>
            <li class = "footer__nav--item">
                <a>Become a guide</a>
            </li>
            <li class = "footer__nav--item">
                <a>Careers</a>
            </li>
            <li class = "footer__nav--item">
                <a>Contacts</a>
            </li>
            <li class = "footer__nav--item">
                <a>Download app</a>
            </li>
        </ul>
       <div class="autor_signature">© 2022 by Bogomil Tsvetkov</div> 
    </div>
</footer>