<header>
    <h3 class="header__title">BulTravel</h3>
    <img class="header__logo" src="/img/logo_small.png">
    <div class="header__nav">
        <button id="login" class="btn header--btn">LOG IN</button>
        <button id="signup" class="btn header--btn">SIGN UP</button>
    </div>
</header>