<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Source+Sans+Pro:wght@200;300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>

    <container class="content__wrapper">
        <header>
            <h3 class="header__title">BulTravel</h3>
            <img class="header__logo" src="/img/logo_small.png">
            <div class="header__nav">
                <button id="login" class="btn header--btn">LOG IN</button>
                <button id="signup" class="btn header--btn">SIGN UP</button>
            </div>
        </header>

        <section class="content__main">
            <div class = "cards_list--wrapper">

                <!-- CARDS TEMPLATE -->
                <div class="card">
                    <img class="card__img" src="https://res.cloudinary.com/dawb3psft/image/upload/v1641832972/travelapp/tour_1.jpg" crossorigin="anonymous"/>
                    <div class="card__heading"><span class= "card__heading--span">Tour trough Bulgaria</span></div>
                    <div class="card__body">
                        <div class = "card__difficulty">Difficulty: Medium</div>
                        <div class = "card__summary">Amazing journey in some of Bulgaria most interesting places </div>
                        <div class = "card__info">
                            <div class= "card__info--item">
                                <img class ="info__item--img"src="/img/location_icon.png">
                                <p class = "info__item--text">Sofia,Bulgaria</p>
                            </div>
                            <div class= "card__info--item">
                                <img class ="info__item--img"src="/img/flag_icon.png">
                                <p class = "info__item--text">5 Stops</p>
                            </div>
                            <div class= "card__info--item">
                                <img class ="info__item--img"src="/img/calendar_icon.png">
                                <p class = "info__item--text">5 Days</p>
                            </div>
                            <div class= "card__info--item">
                                <img class ="info__item--img"src="/img/group_icon.png">
                                <p class = "info__item--text">10 People</p>
                            </div>
                        </div>
                    </div>
                    <div class = "card__footer">
                        <div class="card__footer--wrapper">
                            <p class= "card__footer--price"><span class="price--number footer__span--num">€105</span> per Person</p>
                            <p class= "card__footer--rating"><span class="rating--number footer__span--num">4.5</span> rating(7)</p>
                            <button class = "btn card__footer--btn">DETAILS</button>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <img class="card__img" src="https://res.cloudinary.com/dawb3psft/image/upload/v1641832972/travelapp/tour_1.jpg" crossorigin="anonymous"/>
                    <div class="card__heading"><span class= "card__heading--span">Tour trough Bulgaria</span></div>
                    <div class="card__body">
                        <div class = "card__difficulty">Difficulty: Medium</div>
                        <div class = "card__summary">Amazing journey in some of Bulgaria most interesting places </div>
                        <div class = "card__info">
                            <div class= "card__info--item">
                                <img class ="info__item--img"src="/img/location_icon.png">
                                <p class = "info__item--text">Sofia,Bulgaria</p>
                            </div>
                            <div class= "card__info--item">
                                <img class ="info__item--img"src="/img/flag_icon.png">
                                <p class = "info__item--text">5 Stops</p>
                            </div>
                            <div class= "card__info--item">
                                <img class ="info__item--img"src="/img/calendar_icon.png">
                                <p class = "info__item--text">5 Days</p>
                            </div>
                            <div class= "card__info--item">
                                <img class ="info__item--img"src="/img/group_icon.png">
                                <p class = "info__item--text">10 People</p>
                            </div>
                        </div>
                    </div>
                    <div class = "card__footer">
                        <div class="card__footer--wrapper">
                            <p class= "card__footer--price"><span class="price--number footer__span--num">€105</span> per Person</p>
                            <p class= "card__footer--rating"><span class="rating--number footer__span--num">4.5</span> rating(7)</p>
                            <button class = "btn card__footer--btn">DETAILS</button>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <img class="card__img" src="https://res.cloudinary.com/dawb3psft/image/upload/v1641832972/travelapp/tour_1.jpg" crossorigin="anonymous"/>
                    <div class="card__heading"><span class= "card__heading--span">Tour trough Bulgaria</span></div>
                    <div class="card__body">
                        <div class = "card__difficulty">Difficulty: Medium</div>
                        <div class = "card__summary">Amazing journey in some of Bulgaria most interesting places </div>
                        <div class = "card__info">
                            <div class= "card__info--item">
                                <img class ="info__item--img"src="/img/location_icon.png">
                                <p class = "info__item--text">Sofia,Bulgaria</p>
                            </div>
                            <div class= "card__info--item">
                                <img class ="info__item--img"src="/img/flag_icon.png">
                                <p class = "info__item--text">5 Stops</p>
                            </div>
                            <div class= "card__info--item">
                                <img class ="info__item--img"src="/img/calendar_icon.png">
                                <p class = "info__item--text">5 Days</p>
                            </div>
                            <div class= "card__info--item">
                                <img class ="info__item--img"src="/img/group_icon.png">
                                <p class = "info__item--text">10 People</p>
                            </div>
                        </div>
                    </div>
                    <div class = "card__footer">
                        <div class="card__footer--wrapper">
                            <p class= "card__footer--price"><span class="price--number footer__span--num">€105</span> per Person</p>
                            <p class= "card__footer--rating"><span class="rating--number footer__span--num">4.5</span> rating(7)</p>
                            <button class = "btn card__footer--btn">DETAILS</button>
                        </div>
                    </div>
                </div>
               
            </div>            
        </section>
    </container>
    <footer>
        <div class="footer__logo--wrapper">
            <img class="footer__logo" src="/img/logo_small.png">
            <h3 class="footer__title">BulTravel</h3>
        </div>
        <div class="footer__nav">
            <ul class = "footer__nav--list">
                <li class = "footer__nav--item">
                    <a>About Us</a>
                </li>
                <li class = "footer__nav--item">
                    <a>Become a guide</a>
                </li>
                <li class = "footer__nav--item">
                    <a>Careers</a>
                </li>
                <li class = "footer__nav--item">
                    <a>Contacts</a>
                </li>
                <li class = "footer__nav--item">
                    <a>Download app</a>
                </li>
            </ul>
           <div class="autor_signature">© 2022 by Bogomil Tsvetkov</div> 
        </div>
    </footer>
</body>
</html>