<% layout("./layout/boilerplate") %>

<div class="form__container content__container">
    <div class="form__wrapper">
        <h2 class="form--heading"> CREATE YOUR ACCOUNT</h2>
        <form class="form__content form" id="signup__form">
            <label>Name</label>
            <input  id="name" type="text" required>
            <label>Email Address</label>
            <input  id="email" type="email" required>
            <label>Password</label>
            <input  id="password" name="password" type="password" required>
            <label>Confirm Password</label>
            <input  id="confirmPass" name="confirmPass" type="password" required>
            <button class="btn form__btn">SIGN UP</button>
        </form>
    </div>
</div>



<script type="module" src="/js/signup.js"></script>