<% layout("./layout/boilerplate") %>


<div class="account__container content__container">
    <div class="account__wrapper">

        <%- include("../partials/_userMenu") %>

        <%- body -%>

    </div>
</div>

